rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.4
gemfile:
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
before_install:
  - gem update --system
  - gem install bundler --pre
