name: Ruby tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1', '3.2']
        gemfile: [rails_6.1, rails_7.0]
        channel: ['stable']

        include:
          - ruby-version: '2.7'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.0'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.1'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: '3.2'
            gemfile: rails_edge
            channel: 'experimental'
          - ruby-version: 'head'
            gemfile: rails_6.1
            channel: 'experimental'
          - ruby-version: 'head'
            gemfile: rails_7.0
            channel: 'experimental'
          - ruby-version: 'head'
            gemfile: rails_edge
            channel: 'experimental'

        exclude:
          - ruby-version: '3.2'
            gemfile: rails_6.1

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    continue-on-error: ${{ matrix.channel != 'stable' }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        rubygems: latest
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake test:ruby
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ matrix.ruby-version }}
        parallel: true

  coverage:
    name: Coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
