name: Ruby tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.5', '2.6', '2.7', '3.0']
        gemfile: [ rails_5.0, rails_5.1, rails_5.2, rails_6.0, rails_6.1, rails_edge ]
        experimental: [false]

        include:
          - ruby-version: 'head'
            gemfile: rails_6.0
            experimental: true
          - ruby-version: 'head'
            gemfile: rails_6.1
            experimental: true
          - ruby-version: 'head'
            gemfile: rails_edge
            experimental: true

        exclude:
          - ruby-version: '2.5'
            gemfile: rails_edge
          - ruby-version: '2.6'
            gemfile: rails_edge
          - ruby-version: '2.7'
            gemfile: rails_5.0
          - ruby-version: '2.7'
            gemfile: rails_5.1
          - ruby-version: '2.7'
            gemfile: rails_5.2
          - ruby-version: '3.0'
            gemfile: rails_5.0
          - ruby-version: '3.0'
            gemfile: rails_5.1
          - ruby-version: '3.0'
            gemfile: rails_5.2

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    continue-on-error: ${{ matrix.experimental }}

    steps:
    - uses: actions/checkout@v2
    - uses: nanasess/setup-chromedriver@v1.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run:
        echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v2
      id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Yarn
      run:  yarn
    - name: Run tests
      run: bundle exec rake test:ruby test:js
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ matrix.ruby-version }}
        parallel: true

  coverage:
    name: Coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
