<!DOCTYPE html>
<html id="html">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-<%= qunit_version %>.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
